<h4>
  {{model.firstName}}
  {{model.lastName}}
</h4>
<ul>
  <li>
    {{model.primary_email}}
  </li>
  <li>
    {{model.city}}
  </li>
  <li>
    {{model.state}}
  </li>
  <li>
    {{model.zip}}
  </li>
</ul>
